.all-hero-inf {
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
.hero-continer{
    width: 100%;
    min-height: 900px;
    padding: 40px 100px 0px 140px;
    overflow: hidden;
    position: relative;
}
.text-hero-container{
    margin-top: 100px;
    margin-left: 30px;
    width: 35%;
    height: calc(90% - 100px);
    min-height: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
}
.h1-tekst {
    margin-top: 12px;
    font-family: Reaver,serif;
    line-height: 62px;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}
.deskription-hero-text {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #a5e0f3;
    margin-top: 5px;
}
.b-deskription-hero-text-container {
    width: 100%;
    height: 100%;
    min-height: 300px;
    flex-grow: 1;
    position: relative;
}
.hero-story{
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
}
.atribut_name {
    margin-left: 6px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 24px;
}
.hero-vido_conteiner {
    width: 100%;
    min-height: 820px;
    padding: 40px 100px 0px 140px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}
.atribut-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.atribut-png {
    width: 32px;
    height: 32px;
}
.video {
    position: absolute;
    width: 80%;
    height: 190%;
    top: 0;
    right: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    animation-duration: 1.3s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
}
.h-s-text {
    width: 100%;
    margin-top: 14px;
    color: #eee;
    font-weight: 200;
    font-size: 24px;
    letter-spacing: 0px;
}
.f-b {
    font-weight: bold;
}
.atack-type {
    margin-top: 30px;
    color: #959595;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 17px;
}
.atack-type-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
}
.atack-type-img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.atack-range {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: bold;
}
.complexity {
    margin-top: 30px;
    color: #959595;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 17px;
}
.complexity-row {
    display: flex;
    flex-direction: row;
    width: 80px;
    justify-content: space-between;
    margin-top: 8px;
    margin-left: 4px;
}
.w-r {
    background-color: #fff;
}
.romb {
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    transform: rotateZ(45deg);
}
.skills-row {
    position: absolute;
    right: 140px;
    bottom: 40px;
    max-width: 45%;
    width: fit-content;
    min-height: 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
}
.bs {
    height: 130% !important;
}
.bh {
    height: 110% !important;
}
.sposobnost_container {
    position: absolute;
    right: 140px;
    bottom: 40px;
    max-width: 45%;
    width: fit-content;
    min-height: 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
}
.sposobnost_zagolovok {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 6px;
    text-align: center;
}
.sposobosti_geroev_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}
.drevo_of_talent {
    width: 72px;
    height: 72px;
    overflow: visible;
    position: relative;
    display: flex;
    transition-property: transform;
    transition-timing-function: ease;
    transition-duration: .15s;
}
.logika2 {
    transform: translateY(-100%) translateY(-24px) translateX(-214px);
}
.logika1 {
    width: 300px;
    position: absolute;
    transform: translateY(-100%) translateY(-24px) translateX(-100px);
    display: none;
}
.w-500 {
    width: 500px;
}
.bks {
    width: 300px;
    background-color: #000;
    clip-path: polygon(0px 0px, 0px calc(100% - 20px), calc(50% - 20px) calc(100% - 20px), 50% 100%, calc(50% + 20px) calc(100% - 20px), 100% calc(100% - 20px), 100% 0px);
    min-height: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.tip_settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(150deg, #68727C, #14171A);
    padding: 20px;
    padding-bottom: 40px;
}
.drevo_name {
    font-family: Reaver, serif;
    font-size: 20px;
    text-shadow: 0px 0px 5px #000;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}
.sposobnost_cont_edin {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px 18px;
    background: linear-gradient(150deg, #3c4247, #0a0c0e);
}
.left_talent_s {
    flex-grow: 1;
    flex-basis: 1px;
    font-family: "Radiance", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    color: #ffffffbb;
}
.lvl_cont {
    border-radius: 50%;
    padding: 5px;
    background: linear-gradient(325deg, #3c4247, #0a0c0e);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lvl_const {
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    background: #222;
    font-size: 20px;
    font-family: Reaver, serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: #e7d292;
    text-shadow: 0px 0px 8px #ff531c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}