@media (min-width: 1200px) {
    @media (max-width: 1199.8px) {
        .category_box_row {
            margin-left: 0%;
            margin-right: -3%;
        }
        .menu_menu_img {
            margin-top: -25px;
        }
        .heroous_search {
            margin-left: 10%;
        }
    }
}

