@media (min-width: 1200px)  {
        .category_box_row {
            margin-left: 0%;
            margin-right: -3%;
        }
        .menu_menu_img {
            margin-top: -25px;
        }
        .heroous_search {
            margin-left: 10%;
        }
        .mr-l608 {
            margin-left: 380px;
        }
        .mrg-l-669 {
            margin-left: 380px;
        } 
        .collection-container {
            width: 1420px;
        }
        body {
            width: 1420px;
        }
        .container {
            max-width: 95%;
        }
        .heroes-container {
            height: 70vh;
        }
        .collection-container {
            height: 80vh;
        }
}

